<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests">
<listeners>
<listener class-name = "Academy.Listeners"/>
</listeners>
  <test name="Validation Navigation Bar">
    <classes>
      <class name="Academy.ValidationNavBar"/>
     </classes> 
   </test>	
      
  <test name="Validate Title in the Page">
    <classes>
      <class name="Academy.ValidationTitle"/>
    </classes> 
  </test>
  
  
  
  <test name="Validation User Page">
    <classes>
      <class name="Academy.HomePage"/>
    </classes>
  </test>
  
  </suite> <!-- Suite -->
